* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}
a:link {
    color: #000;
}
a:visited{
    color: #000;
}
body {
    width: 100%;
    background: url(./source/guitar2.png) 5% 35% no-repeat,
                url(./source/Guitar1.png) 109% 70% no-repeat;
    background-color: lightyellow;
    background-size: 15%;
}
header {
    background-color: lightyellow;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.01);
    font-size: small;
}
#header-img {
    width: 40%;
    text-align: left;
    margin: 8px 0 0 20px;
}
#nav-bar {
    width: 60%;
    margin: 0px 20px 0 0;
}
nav ul {
    margin-top: 1.3em;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2em;
}
li {
    list-style: none;
    display: block;
}
main {
    margin-top: 120px;
}
.nav-link:link {
    color: black;
}
.nav-link:visited {
    color: black;
}
.nav-link:hover {
    color: rgb(104, 84, 55);
}
.nav-link:active {
    color:rgb(104, 84, 55);
}
#login {
    margin-top: 130px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
#email {
    margin: 15px auto 12px auto;
    display: block;
    width: 300px;
    height: 30px;
}
#submit {
    width: 150px;
    height: 25px;
    background-color: lightpink;
}
#video {
    text-align: center;
    margin-bottom: 45px;
}
#brands {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    margin: 0 auto 70px auto;
}
.box {
    width: 280px;
    height: 280px;
    background-color: cornsilk;
    box-shadow: 0 4px 8px 0 rgba(59, 58, 58, 0.2), 0 6px 20px 0 rgba(59, 59, 59, 0.19);
}
.brandName {
    background-color: rgb(252, 244, 201);
    height: 40px;
    line-height: 40px;
    font-size: large;
    font-weight: bold;
}
.price {
    padding: 5px 0 0 0;
    height: 25px;
    line-height: 30px;
    font-weight: bold;
}
.detial {
    padding: 0 15px 0 15px;
    height: 210px;
    line-height: 35px;
    font-weight: bold;
    font-style: oblique;
}
footer {
    text-align: end;
    font-size: 1px;
    margin-right: 10px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
footer ul li {
    margin-left: 10px;
}
@media (max-width: 650px) {
    * {
        flex-wrap: wrap;
    }
    body {
        width: 100vw;
    }
    header {
        position: relative;
    }
    #header-img {
        width: 100%;
        margin: 0;
        margin-top: 10px;
        text-align: center;
    }
    main {
        margin-top: -120px;
    }
    #header-img {
        display: block;
    }
    iframe {
        width: 80vw;
        height: auto;
    }
  }
  @media (max-width: 870px) {
      #brands {
          flex-direction: column;
          align-items: center;
      }
  }
